.homepage {
    margin: auto;
    overflow: hidden;
    background-color: #fbfbfb;
max-width: 1500px;
}


.container-fluid.access {
    padding-top: 22px;
    color: white;
    background-color: #0597ed;
    padding-left: 60px;
    margin-top: 59px;
}



.text-students h3 {
    margin-bottom: 20px;
    font-size: 17px;
    margin-top: 0px;
}





button#template-btn {
    border-radius: 12px;
    font-size: 16px;
    padding: 10px 35px;
    border: none;
    color: blue;
    background-color: white;
    margin-top: 40px;
}

.user-plateform h3 {
    margin-left: 8px;
}

.user-plateform h3 a {
    color: #3c3b3b;
    font-size: 15px;
    text-decoration: none;
}


.user-plateform {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.user1 img {
    width: 25%;
}

.user1 {
    height: 72px;
    width: 35%;
    border-radius: 12px;
    border: 1px solid #9898fb;
    display: flex;
    padding: 2px 18px;
    align-items: center;
    margin: 9px;
    background-color: white;
}

.text-students h2 {
    font-size: 33px;
    font-weight: 600;
}

.resume-template h2 {
    font-size: 60px;
    font-weight: 600;
}
.resume-template p {
    margin-top: 22px;
    font-size: 19px;
    font-family: monospace;
}
.resume-template-image img {
    width: 70%;
    margin-left: 80px;
}

.video-profile1-box img {
    width: 100%;
}

.video-profile-box img {
    width: 100%;
    margin-left: 58px;
}

.details-templates img {
    width: 100%;
}

.resume-template img {
    margin-bottom: 10px;
    width: 65%;
    margin-top: 17px;
}


.container-fluid.login {
    margin-top: 60px;
}

.login-template-text h2 a {
    font-weight: 600;
    color: black;
    font-size: 31px;
}

.login-template-text h2 {
    font-size: 55px;
    font-weight: 600;
    margin-top: 70px;
}
.login-template-text h3 {
    word-spacing: 5px;
    color: #4c4b4b;
    font-size: 20px;
    font-family: ui-sans-serif;
    line-height: 1.5;
}


.rating {
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.rating-list2 {
    margin-left: 35px;
}


.login-create h2 a {
    font-weight: 600;
    font-size: 19px;
    color: black;
}

.login-create h3 {
    color: grey;
    font-size: 17px;
    margin-top: 5px;
}

.text-get h2 {
    font-weight: 600;
    font-size: 32px;
}


button#start-btn {
    border-radius: 30px;
    font-size: 18px;
    padding: 13px 39px;
    border: none;
    color: white;
    background-color: blue;
    margin-top: 19px;
    margin-left: 196px;
}

.text-get p {
    color: gray;
    font-size: 15px;
    margin-top: 16px;

}



.video-profile-box h2 a {
    font-size: 21px;
    color: #0a0707;
    font-weight: 600;
    text-decoration: none;
}

.video-profile-box h3 {
    margin-top: 6px;
    color: grey;
    font-size: 17px;
}

i.fa-solid.fa-check {
    font-size: 14px;
    border-radius: 20px;
    color: white;
    padding: 6px;
    background-color: blue;
}

.company-resume h3 {
    font-size: 20px;
    margin-left: 34px;
    font-weight: 600;
}

.big-section {
    margin-top: 21px;
    color: white;
    background-color: #337bfd;
    padding: 20px;
}

ul.list-resume li a {
    font-size: 14px;
    text-decoration: none;
    color: white;
}

ul.list-resume li {
    margin-top: 6px;
    list-style-type: none;
}

.container-fluid.resume-builder {
    margin-top: 50px;
    padding: 14px;
}

i.fa-solid.fa-star {
    color: #e9e922;
}



svg {
    padding: 3px;
    background-color: white;
}

.login-create {
    margin-left: 12px;
}

.play-store img {
    width: 42%;
}

i.fa-brands.fa-facebook {
    padding: 7px;
    font-size: 21px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
}

i.fa-brands.fa-instagram {
    padding: 7px;
    font-size: 21px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 5px;
    color: white;

}

i.fa-brands.fa-twitter {
    margin-left: 5px;
    padding: 7px;
    font-size: 21px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;

}

.play-store {
    margin-bottom: 20px;
}

.section-logo img {
    width: 42%;
    margin-top: 10px;
    margin-bottom: 19px;
}


.text-students {
    text-align: center;
}




.container-app {
    background-color: blue;
    color: white;
}

.container-discover {
    text-align: center;
    margin-top: 100px;
}

.container-discover h2 {
    color: black;
    font-weight: 600;
    font-size: 31px;
}

.container-discover h3 {
    font-size: 15px;
    color: black;
}
.container-fluid.footer {
    justify-content: space-around;
    margin-top: 90px;
    display: flex;
    align-items: center;
}

.frame-page {
    background-color: white;
    color: black;
    border-radius: 11px;
}

.frame-page {
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 11px;
    display: flex;
}

.frame-page {
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 11px;
    display: flex;
    justify-content: space-around;
    padding: 11px;
    margin-top: -24px;
    width: 100%;
    height: 200px;
}

.developer-box h3 {
    font-weight: 600;
    font-size: 19px;
}

.developer-box h4 {
    color: #444343;
    font-weight: 500;
    font-size: 13px;
}

.paragraph p {
    margin-top: 12px;
    margin-left: 12px;
}


.login-template img {
    width: 60%;
}

.resume-template {
    margin-left: 58px;
}


.container-fluid.portfolio {
    display: table;
    margin: auto;
}




@media(max-width:600px) {
    
    .resume-template {
        margin-left: 0px;
    }
    .container-fluid.resume-builder {
        padding: 0px;
    }


    .details-templates img {
        margin-top: 30px;
    }

    .play-store img {
        margin-bottom: 10px;
    }

    .text-get img {
        width: 100%;
    }

    .logo {
        display: initial;

    }

    .video-profile-box img {
        margin-left: 0px;
    }

    .big-section {
        padding: 0px;
    }

    .frame-page {
        margin-top: 20px;
    }

    button.btn-login {
        margin-top: 10px;
    }

    .user1 {
        height: 64px;
        width: 50%;
        margin-top: 12px;
        padding: 7px 11px;
    }

    .user1 img {
        max-width: 100%;
    }

    .user-plateform h3 a {
        font-size: 10px;
    }
   
    .frame-page {
        height: 100%;
    }
    .resume-template-image img {
        width: 100%;
        margin-left: 0px;
        margin-top: 25px;
    }
    .login-template img {
        width: 100%;
    }
    .container-fluid.footer {
      flex-wrap: wrap;
        display: flex;
     
    }

}















.navbar {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}


.navbar-logo img {
    width: 70%;
    margin-right: 10px;
}
.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  
}
.navbar-links a {
    font-family: monospace;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-left: 24px;
    color: black;
}

.navbar-links li {
    margin-right: 20px;
}


.navbar-toggle-btn {
    cursor: pointer;
    border: none;
    color: black;
    font-size: 20px;
    display: none;
}



.sidebar {
    height: 70%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -128px;
    background-color: rgb(19 12 124);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    margin-top: 15px;
}

.sidebar a:hover {
    color: #f1f1f1;
}


.sidebar .close-btn {
    padding: 0px 11px;
    position: absolute;
    top: 4px;
    font-size: 24px;
    margin-left: 50px;
    left: -46px;
}
.main-content {
    transition: margin-left 0.5s;
    padding: 16px;
}
button.btn-login {

    border: none;
    border-radius: 12px;
    padding: 5px 12px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: blue;
}
@media (max-width:600px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .navbar-links.show {
        display: flex;
    }

    .navbar-links li {
        margin: 0;
        text-align: center;
    }

    .navbar-toggle-btn {
        display: block;
        margin-left: 40px;
    }

    .main-content {
        margin-left: 0;
    }
    .navbar-links {
        margin-left: 0px;
    }
    button.btn-login {
        margin-left: 38px;
    }
    .resume-template {
        margin-left: 0px;
    }
    .logo {
        display: initial;
    }
   
  
    button#template-btn {
        width: 50%;
    }
    .logo img {
        width: 50%;
    }
    .resume-template-image img {
        width: 100%;
    }
    button.btn-more {
        width: 50%;
        margin-top: 8px;
    }
    .login-template {
        margin-top: 18px;
    }
    .template-center h2 {
        font-size: 20px;
      
    }
}